.carrito {
  width: 45px;
  height: 65px;
  background-color: #1e221cc9;
  position: fixed;
  top: 25%;
  z-index: 100;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;

  justify-content: center;
  align-items: center;
  text-align: center;

  &__imagen:hover {
    cursor: pointer;
  }

  &__itemstotal {
    width: 15px;
    height: 27px;
    color: white;

    font-size: 25px;
    font-weight: 100;
  }

  &__icon {
    font-size: 25px;
    color: white;
    font-weight: 100;

    &:hover {
      color: white;
    }
  }

  &:hover {
    width: 75px;
    transition: 0.5s;
  }
}

.itemModal {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: auto;

  justify-content: space-between;

  border-bottom: 2px solid rgba(0, 0, 0, 0.774);
  margin-bottom: 10px;

  &:hover {
    box-shadow: -2px 0px 10px 5px rgba(12, 12, 12, 0.582);
    transition: 0.3s;
  }

  &__imagen {
    width: 90px;
    height: 90px;

    align-items: flex-start;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

    &__titulo {
      width: 105%;
      text-align: start;
    }

    &__cantidad {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 10px;

      &__input {
        width: 40px;
        text-align: center;
        opacity: 1;
      }
    }

    &__precio {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
  &__eliminar {
    width: 15px;
    border: none;
    align-self: flex-end;
    padding-right: 20px;
    color: rgba(190, 153, 176, 0.932);
  }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-body {
  padding: 5px;
}

.modal__total {
  width: 100%;
  height: auto;
  margin: 15px 15px 0px 0px;
  text-align: end;
  font-size: 20px;
  &__valor {
    padding-left: 2px;
    font-weight: bold;
    color: black;
  }

  &:hover {
    cursor: default;
  }
}

.btn-rosa {
  background-color: $color-pink;
}
