@mixin salida() {
  -webkit-animation: scale-out-center 0.4s linear 0.4s both;
  animation: scale-out-center 0.4s linear 0.4s both;

  @-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
  }
}

.contenedorMensajeAgregado {
  display: flex;
  justify-content: center;
}

.confirmacion {
  width: 200px;
  height: 40px;
  position: fixed;
  background-color: rgba(190, 153, 176, 0.671);
  z-index: 100000;
  top: 5%;
  text-align: center;
  font-weight: 800;
  line-height: 35px;
  @include salida();
}
