.loading {
  width: 100%;
  height: 98%;
  bottom: 0;
  background-image: url(../.././img/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  background-color: white;
}
