$bgcolor: rgb(255, 255, 255);

$color-black: rgba(0, 0, 0, 0.897);

$fontcolor: black;

$fontcolor2: rgb(177, 172, 172);

$shadowcolor: rgb(202, 201, 201);

$shadowcolor2: rgba(15, 15, 15, 0.575);

$button-color: rgb(16, 24, 50);
