* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Biko;
  text-align: center;
  list-style-type: none;
}

body {
  width: calc(100% - 0);
  background-color: $bgcolor;
}
