.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    height: 250px;
    background-color: $color-black;

    &__datos{
        
        &__texto{
            text-align: center;
            color : $fontcolor2;            
            margin-bottom: 1rem;
        }

        &--size{
                font-size: 2em;
            }
    }

    &__linea{
        height: 60%;
        width: 5px;
        background-color: $fontcolor2;
        border-radius: 50%;
    }

    &__redes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5em;
        align-items: center;
        height: unset;
        margin-top: unset;

        &__icon{

            &--color{
                color: $fontcolor2;
            }

            &--size{
                font-size: 3em;
            }

            &--efect:hover{
                @include textRotate();
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .footer{
        flex-direction: column-reverse;
         height: 350px;
         padding-top: 25px;

         &__datos__texto{
            text-align: center;
        }
   

        &__linea{
            width: 60%;
            height: 5px;
            background-color: rgb(131, 131, 127);
            border-radius: 50%;
        }
  
        &__redes{
            gap: 15px;
        }
    }

}

/*Media Queries  1100-650*/
@media only screen and (max-width: $pcxl) and (min-width: $tablet){
    
    .footer__redes{
        gap:2.1em;
    }
}

/*Media Queries  649-320*/
@media only screen and (max-width: $tablet) and (min-width: $smartphone){
    .footer{
        flex-direction: column-reverse;
         height: 350px;
         padding-top: 25px;

         &__datos__texto{
            text-align: center;
        }
   

        &__linea{
            width: 60%;
            height: 5px;
            background-color: rgb(131, 131, 127);
            border-radius: 50%;
        }
  
        &__redes{
            gap: 15px;
        }
 }
}