.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $bgcolor;

  &__logo {
    margin: 2px;
    width: auto;

    &__img {
      width: 250px;
    }
  }

  &__hide {
    font-size: 0px;
  }

  &__ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding-right: 25px;

    &__li {
      justify-content: center;
      margin-left: 72px;

      &__a {
        text-decoration: none;

        &:hover {
          color: black;
          cursor: pointer;
        }

        &__text--color {
          color: $fontcolor;
        }
      }

      &:hover {
        @include pulsacion();
        color: black;
      }
    }

    &__responsive {
      display: none;
    }
  }
}

/*Media Queries  1100-650*/
@media only screen and (max-width: $pcxl) and (min-width: $tablet) {
  .header {
    height: 100px;

    &__ul {
      display: none;

      &__responsive {
        display: flex;
        margin-bottom: 0;

        &__li {
          margin-right: 40px;

          &__a__img {
            width: 42px;
          }

          &:hover {
            @include pulsacion();
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $midTabletPc) and (min-width: $tablet) {
  .header__ul__responsive__li {
    margin-right: 20px;
  }
}

/*Media Queries  649-320*/
@media only screen and (max-width: $tablet) and (min-width: $smartphone) {
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 300px;
    padding-bottom: 30px;

    &__ul {
      display: none;

      &__responsive {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20%;
        padding: 0;

        &__li__a__img {
          width: 60px;

          &:hover {
            @include pulsacion();
          }
        }
      }
    }
  }
}
