.main{
    width: 100%;

    padding-bottom: 100px;


    &__titulo{
        padding: 50px;
    text-align: center;

    }

    &__productos{
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        

        gap: 30px;

        &__card{
            display: flex;
            flex-direction: column;


            margin: 0 auto;

            width: 300px;
            height: auto;

        }
        
        
    }
}
